@import './colors.scss';

.field {
  margin-bottom: 5px;
}

.wrapper {
  min-height: 20px;
}

.error {
  color: $errorColor;
  font-size: 12px;
}

.message {
  color: $doneColor;
  font-size: 12px;
  position: relative;
  top: -30px;
  left: 20px;
  margin-bottom: 0;
  height: 0;
}

label {
  display: block;

  .row & {
    margin-left: 10px;
  }
}

.row {
  display: flex;
  align-items: start;
  margin-top: 10px;
}

.contact-form {
  background-color: $lightBg;
  padding: 40px 60px;
  border-radius: 10px;
}

.contact-form label {
  color: $dark;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}


.contact-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: $dark;
  // margin-bottom: 20px;
}

input[type="checkbox"] {
  width: auto;
}

.contact-form input:focus {
  outline: none;
  box-shadow: 0 0 5px $accentColor;
  transition: transform 0.3s ease-in-out;
}

.contact-form input[type="submit"] {
  width: auto;
  background-color: $accentColor;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-top: 10px;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.contact-form input[type="submit"]:hover {
  transform: scale(1.1);
}


/* checkbox settings 👇 */

.ui-checkbox {
  --primary-color: $accentColor;
  --secondary-color: #fff;
  --primary-hover-color: $accentColor;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: $accentColor;
}

.ui-checkbox:checked {
  background: $accentColor;
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}


// Select
.custom-select {
  min-width: 350px;
  position: relative;
  margin-bottom: 25px;
}

select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 100%;
  font-size: 14px;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  // border: 1px solid #caced1;
  border: none;
  border-radius: 5px;
  // color: #000;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $accentColor;
    // transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

  // option {
  //   background-color: #caced1;
  // }
}

// Image upload
.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid $dark;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid $dark;
  top: 55%;
}

.custum-file-upload {
  // height: 200px;
  // width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

// Countries
.autocontainer {
  background-color: white;
  padding: 10px 0;
  max-height: 100px;
  overflow-y: scroll;

  & .options {
    padding: 3px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $accentColor;
    }
  }
}

